/* Add User Form Styles */
.container {
  max-width: 500px;
  margin: auto;
}

.add-user-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.add-user-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.add-user-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.add-user-form input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add-user-form button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-user-form button:hover {
  background-color: #2980b9;
}
